/*-------- CSS RESET ----------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    border: none;
} 
/*-------- CSS VARIABLES ----------*/
:root {
    --color-stick: rgb(97, 43, 18);
    --color-disc-01: rgb(177, 86, 44);
    --color-disc-02: rgb(177, 86, 44);
    --color-disc-03: rgb(177, 86, 44);
    --color-disc-04: rgb(177, 86, 44);
    --fontcolor-discs:rgb(34, 21, 21);
    --border-radius-discs: 15px;
    --border-discs: solid 2px black;
}

/* botão reset style */

#botao_reset{
    border: none;
    font-family:'Permanent Marker', cursive;
    font-weight: lighter;
    font-size: 20px;
    text-shadow: rgb(202, 200, 200) 2px 2px;
    background-color:rgb(202, 148, 60);
    height: 20px;
}
#vitoria {
    margin-top: 2em;
    font-size: 4em;
    position: absolute;
    border: none;
    font-family:'Permanent Marker', cursive;
    font-weight: lighter;
    text-shadow: rgb(202, 200, 200) 2px 2px;
    background-color:rgb(202, 148, 60);
    height: 20px;
}
#timer,#moves{
    font-size: 30px;
}

/*-------- CSS BODY ----------*/

body {
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
    background-color: rgb(202, 148, 60);
    font-size: 16px;
    margin: auto;
    max-width: 60%;
}
h1{
    font-size: 3.2em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: rgb(194, 120, 0) 2px 2px;
    margin-top: 1em;
}
footer#message_log {
    margin: 0.5em auto;
    font-size: 0.8em;
    font-weight: bold;
}

/*-------- CSS STICK ----------*/
section#game_section {
    max-width: 100%;
    min-width: 800px;
    box-sizing: content-box;
    min-height: 30em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    border-bottom: 2px solid rgb(97, 43, 18);
}
section#game_section div.stick{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-content: center;
    position: relative;
    width: 15em;
    height: 15em;
}
section#game_section div.stick::before {
    background-color: var(--color-stick);
    content: '';
    display: block;
    width: 1em;
    height: 15em;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
div#game_Info {
    max-width: 100%;
    min-width: 800px;
    text-transform: uppercase;
    margin-top: 1.2em;
    font-size: 1.2em;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
/*-------- CSS SPAN STACKS ----------*/
section#game_section span {
    color: var(--fontcolor-discs);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--border-discs);
    border-radius: var(--border-radius-discs);
    height: 2em;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

section#game_section span#disc1{
    background-color: var(--color-disc-01);
    width: 6em;
}
section#game_section span#disc2{
    background-color: var(--color-disc-02);
    width: 9em;
}
section#game_section span#disc3{
    background-color: var(--color-disc-03);
    width: 12em;
}
section#game_section span#disc4{
    background-color: var(--color-disc-04);
    width: 15em;
}
